.homePageWrapper{
height: 100vh ;
display:flex;
align-items:center ;
justify-content:center ;
color: #fff;
}

.formWrapper{
  background-color: rgb(75, 19, 19);
  padding: 20px;
  border-radius: 10px;
  width: 400px;
  max-width: 90%;
}

footer{
  position: fixed;
  bottom: 0;
}

footer a{
  color: #4aee88;
}

.inputGroup{
  display: flex;
  flex-direction: column;
}

.mainLabel{
  margin-top: 0;
  margin-bottom: 20px;
}

.homePageLogo{
  margin-bottom: 30px;
  size: 80px;
}

.inputBox{
  padding: 10px;
  border-radius: 5px;
  outline:none;
  border: none;
  margin-bottom: 14px;
  background-color: #eee;
  font-size: 16px;
  font-weight: bold;
}

.btn{
  font-weight: bold;
  border: none;
  border-radius: 5px;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.joinBtn{
  background-color: #4aee88;
  width: 100px;
  margin-left: auto;
}

.joinBtn:hover, .leaveBtn:hover{
  background: #2b824c;
}

.createInfo{
  margin: 0 auto;
  margin-top: 20px;
}

.createNewBtn{
  color: #4aed88;
  text-decoration: none;
  border-bottom: 1px solid #4aed88;
  transition: all 0.3s ease-in-out;
}

.createNewBtn:hover, 
footer a:hover{
  color: #368654;
  border-color: #368654;
}

.mainWrap{
  display: grid;
  grid-template-columns: 230px 1fr;
  height: 100vh;
}

.aside{
  background:#1c111b;
  padding: 16px;
  color: #fff;
  display: flex;
  flex-direction: column;
}

.asideInner{
 flex: 1;
}

.clientList{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

.client{
  display: flex;
  align-items: center;
  flex-direction: column;
  font-weight: bold;
}

.userName{
  margin-top: 10px;
}

.logo{
  border-bottom: 2px solid #918f8f;
  padding-bottom: 10px;
}

.logoImg{
  height: 60px;

}

.leaveBtn{
  margin-top: 20px;
  background-color: #4aee88;
  width: 100%;
}

.CodeMirror{
min-height: calc(100vh - 20px);
font-size: 15px;
line-height: 1.6;
padding-top: 20px;
}

.copyBtn:hover{
  background-color: #ec87e3;
}